#root-container,
.main-container,
.ant-layout {
	height: 100%;
	background: $white;
}

.app-layout-content {
	overflow-y: auto;
}

.ant-tree-title {
  font-weight: bold;
}

.ant-card-head-title {
  font-size: 23px;
}

@each $color, $value in $theme-colors {
  .background-#{$color} {
    @include background-style($value);
  }
}

.ant-table-small .ant-table-header > table, .ant-table-small .ant-table-body > table {
  border: 0;
  padding: 0 0px;
}