@mixin background-style($color: map-get($theme-colors, "gray")) {
  color: get-color-contrast($color);
  background: $color;

  a {
    color: get-color-contrast($color);
    text-decoration: none;

    @include hover-focus() {
      @if $color == #000 {
        color: lighten($color, 40%);
      } @else {
        color: darken($color, 25%);
      }
    }
  }
}